<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/all-products.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="icon" type="images/png" href="/leaf-icon.png"/>
    <title>Products</title>
</head>
<body>
    <header class="header">
        <div class="logo-activities">
            <div class="logo">
                <a href="/main" class="home-link link">
                    <img src="/logo.svg" alt="logotype" class="logo-img">
                </a>
            </div>
            <div class="activities">
                <ul class="activities-list">
                    <li class="acivities-item"><a href="/shop" class="acivities-item-link link">Shop</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="container">
            <div class="add-product-button-container">
                <a class="add-product-button" href="/managers-panel/add-product">
                    <p class="add-product-button-text">&#43;</p>
                </a>
            </div>
            <div class="product-cards-container">
                <% if (juice.length) {%>
                    <% juice.forEach(({id, Name, Price, Description, Images}) => { %>
                        <div class="product-card">
                            <a href="/managers-panel/edit/<%= id %>" class="card-product-link">
                                <img src="data:<%=Images.contentType%>;base64,
                                <%=Images.data.toString('base64')%>" alt="<%= Name %>" class="card-product-image"/>
                            </a> 
                            <div class="product-card-propeties-container">
                                <a href="/managers-panel/edit/<%= id %>" class="card-product-link">
                                    <div class="product-card-text-container">
                                        <h2 class="card-product-name"><%= Name %></h2>
                                        <h4 class="card-product-price">&#x20bd; <%= Price %></h4>
                                        <p class="card-product-description"><%= Description %></p>
                                    </div>
                                </a> 
                                <div class="product-card-actions-container">
                                    <button class="product-delete" type="button" data-id="<%= id %>" name="delBtn">
                                        <svg class="product-delete-icon" data-id="<%= id %>" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 172 172">
                                            <path d="M74.53333,17.2c-1.53406,-0.02082 -3.01249,0.574 -4.10468,1.65146c-1.09219,1.07746 -1.70703,2.54767 -1.70704,4.08187h-34.32161c-2.06765,-0.02924 -3.99087,1.05709 -5.03322,2.843c-1.04236,1.78592 -1.04236,3.99474 0,5.78066c1.04236,1.78592 2.96558,2.87225 5.03322,2.843h103.2c2.06765,0.02924 3.99087,-1.05709 5.03322,-2.843c1.04236,-1.78592 1.04236,-3.99474 0,-5.78066c-1.04236,-1.78592 -2.96558,-2.87225 -5.03322,-2.843h-34.32161c-0.00001,-1.53421 -0.61486,-3.00442 -1.70704,-4.08187c-1.09219,-1.07746 -2.57061,-1.67228 -4.10468,-1.65146zM34.4,45.86667v91.73333c0,6.33533 5.13133,11.46667 11.46667,11.46667h80.26667c6.33533,0 11.46667,-5.13133 11.46667,-11.46667v-91.73333z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('click', (e) => {
            const id = e.target?.dataset?.id || null;
            if (id) {
                fetch(`/managers-panel/all-products/${id}`, { method: 'DELETE', }).then(() => window.location.reload())
            }
        })
    </script>
</body>
</html>
