<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/shop-page.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="icon" type="images/png" href="/logo.svg"/>
    <title>Shop</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <div class="content">
        <div class="product-cards-container">
            <% if (juice.length) {%>
                <% juice.forEach(({id, Name, Price, Images}) => { %>
                    <div class="product-card">
                        <a href="/shop/<%= id %>" class="card-product-link">
                            <img src="data:<%=Images.contentType%>;base64,
                            <%=Images.data.toString('base64')%>" alt="<%= Name %>" class="card-product-image"/>
                            <h2 class="card-product-name"><%= Name %></h2>
                            <h4 class="card-product-price">&#x20bd; <%= Price %></h4>
                        </a>
                        <button type="button" class="card-product-add-to-card" data-id="<%= id %>">Add to cart</button>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="no-products-container">
                    <h1 class="no-products">Sorry, it looks like there are no products in the store right now... (˘･_･˘)</h1>
                    <div class="logistics-man">
                        <canvas class="rive-logistic" id="canvas" width="500" height="500"></canvas>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
    <script src="https://unpkg.com/@rive-app/canvas@1.0.47"></script>
    <script>
        new rive.Rive({
            src: "/1180-2271-logistics-man-boxes.riv",
            canvas: document.getElementById("canvas"),
            autoplay: true
        });
    </script>
</body>
</html>